body {
    font-family: "raleway";
    text-align: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "raleway";
  }
  
  p {
    color: #8f8f8f;
  }
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
      text-decoration: none;
    padding: 0 0 4.5rem;
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    text-color: #8f8f8f;
  }
  
  .nav-item {
    font-size: 1.5rem;
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
  }
  
  #title {
    background-color: #2c3333;
    text-align: left;
  }
  
  .headline-container {
    padding: 2% 1%;
    background-color: #E7F6F2;
    color: #2c3333;
  }

  #contact {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.contact-box {
    padding: 5%;

}

.contact-title {
    line-height: 1.5;
}

.icon {
  color: #395B64;
  margin-bottom: 1rem;
}
